export(assign_colors)
export(calendar_heat_map)
export(cbind_fill)
export(classify_sentiment)
export(gen_var_names)
export(geocode)
export(get_klout_scores)
export(lda)
export(leading_zeros)
export(match_gender)
export(regress_text)
export(scraply)
export(word_stemmer)
