export(calendar)
export(classify_sentiment)
export(color_assign)
export(csv_stack)
export(gen_ctm_data)
export(gen_var_names)
export(geocode)
export(get_klout_scores)
export(lda)
export(leading_zeros)
export(pretty_coefs)
export(word_stemmer)
